// Sample code
.masthead {
    padding: 200px 0;
    text-align: center;
    background-color: #fff;
}
section.s-contact {
    padding: 32px 0 33px;
    background: #e6e6e6;
    .block {
        &--flex {
            align-items: center;
            justify-content: space-between;
            .block__content {
                display: flex;
                align-items: center;
                @include media-breakpoint-down(sm) {
                    margin-bottom: 15px;
                    justify-content: center;
                }
                i.icon {
                    margin-right: 24px;
                    margin-bottom: 0;
                }
            }
        }
    }
}
section {
    &.s__home {
        &--introduction {
            position: relative;
            @include media-breakpoint-up(lg) {
                padding-bottom: 50px;
            }

            .box-border {
                max-width: 570px;
                margin: auto;
                margin-top: 100px;
                @include media-breakpoint-down(md) {
                    margin-top: 72px;
                }
            }
            .block__content {
                .float-product {
                    position: absolute;
                    bottom: -46px;
                    right: 46px;
                    z-index: 2;
                    @include media-breakpoint-down(md) {
                        display: none;
                    }
                    &:not(.deep) {
                        @include media-breakpoint-only(lg) {
                            right: -20px;
                        }
                    }
                    &.deep {
                        top: 32px;
                        left: 40px;
                        z-index: -1;
                    }
                    .img-bg {
                        width: 264px;
                        &:after {
                            padding-top: 362/264 * 100%;
                        }
                    }
                }
                .floatImg {
                    &-top {
                        position: absolute;
                        z-index: -1;
                        top: -90px;
                        right: 0;
                        .img-bg {
                            width: 329px;
                            &:after {
                                padding-top: 370/329 * 100%;
                            }
                        }
                        @include media-breakpoint-down(md) {
                            display: none;
                        }
                    }
                    &-bottom {
                        position: absolute;
                        z-index: -1;
                        bottom: -90px;
                        left: 0;
                        .img-bg {
                            width: 370px;
                            &:after {
                                padding-top: 268/370 * 100%;
                            }
                        }
                        @include media-breakpoint-down(md) {
                            display: none;
                        }
                    }
                }
            }
            .imgFloat {
                position: absolute;
                @include media-breakpoint-down(lg) {
                    display: none;
                }
                &.r1 {
                    right: -17%;
                    top: 15%;
                    @include break-min(1919px) {
                        right: -37%;
                    }
                    .img-bg {
                        width: 200px;
                        @include break-min(1919px) {
                            width: 290px;
                        }
                        &:after {
                            padding-top: 210/335 * 100%;
                        }
                    }
                }
                &.r2 {
                    right: -22%;
                    top: 50%;
                    @include break-min(1919px) {
                        right: -50%;
                    }
                    .img-bg {
                        width: 310px;
                        &:after {
                            padding-top: 501/635 * 100%;
                        }
                    }
                }
                &.l1 {
                    left: -15%;
                    top: 50%;
                    @include break-min(1919px) {
                        left: -37%;
                        top: 37%;
                    }
                    .img-bg {
                        width: 130px;
                        @include break-min(1919px) {
                            width: 200px;
                        }
                        &:after {
                            padding-top: 135/216 * 100%;
                        }
                    }
                }
                &.l2 {
                    left: -22%;
                    top: 108%;
                    @include break-min(1919px) {
                        left: -65%;
                        top: 80%;
                    }
                    .img-bg {
                        width: 300px;
                        @include break-min(1919px) {
                            width: 590px;
                        }
                        &:after {
                            padding-top: 363/612 * 100%;
                        }
                    }
                }
            }
        }
        &--products {
            position: relative;

            .productCard {
                margin-top: 70px;
                @include media-breakpoint-down(lg) {
                    max-width: 930px;
                    margin-left: auto;
                    margin-right: auto;
                }
                @include media-breakpoint-down(md) {
                    margin-top: 30px;
                }
            }
        }
        &--why {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            // background-color: #e6f1ff;
            position: relative;
            padding: 40px 0;
            @include break-min(1919px) {
                height: 720px !important;
            }
            @include media-breakpoint-up(xl) {
                height: 580px;
            }
            @include media-breakpoint-up(lg) {
                padding: 90px 0 30px;
            }
            &.mg-section {
                @include media-breakpoint-up(lg) {
                    margin-bottom: 150px;
                }
            }
            .container {
                .thumbFloating {
                    @include media-breakpoint-up(xl) {
                        position: absolute;
                        bottom: -20%;
                        left: calc(50% - 325px);
                    }
                    @include break-min(1919px) {
                        left: calc(50% - 390px) !important;
                    }
                    .img-bg {
                        @include break-min(1919px) {
                            width: 780px !important;
                        }
                        @include media-breakpoint-up(xl) {
                            width: 650px;
                        }
                        &:after {
                            padding-top: 535/953 * 100%;
                        }
                    }
                }
            }
            .block {
                &__content {
                    &__image {
                        position: relative;
                        @include media-breakpoint-up(xl) {
                            height: 300px;
                        }
                        .floatingPanel {
                            @include media-breakpoint-down(lg) {
                                display: flex;
                                justify-content: space-around;
                            }
                        }
                        .floating {
                            text-align: center;
                            @include media-breakpoint-up(xl) {
                                position: absolute;
                            }
                            &.left-top {
                                left: 34%;
                                top: 20px;
                            }
                            &.left-bottom {
                                bottom: 70px;
                                left: 20%;
                            }
                            &.right-top {
                                right: 34%;
                                top: 20px;
                            }
                            &.right-bottom {
                                bottom: 70px;
                                right: 20%;
                            }
                            p {
                                max-width: 287px;
                                font-family: $font-r;
                            }
                        }
                    }
                    
                }
                .block__content__text {
                    h2 {
                        @include break-min(1919px) {
                            margin-bottom: 70px !important;
                        }
                        @include media-breakpoint-up(lg) {
                            margin-bottom: 25px;
                        }
                        @include media-breakpoint-down(sm) {
                            margin-bottom: 50px;
                        }
                    }
                }
                .block__content__text--underLine:after {
                    background-color: #e6f1ff !important;
                }
            }
        }
        &--customers {
            font-family: $font-r;
            @include media-breakpoint-up(lg) {
                margin-bottom: 150px;
            }
            .block__content {
                @include media-breakpoint-up(lg) {
                    max-height: 600px;
                }
            }
            .sgrid {
                margin-top: 86px;
                @include media-breakpoint-down(sm) {
                    margin-top: 40px;
                }
                &__left {
                    background-color: #cee3ff;
                    @include media-breakpoint-down(sm) {
                        padding-top: 25px;
                    }
                    .block__content__text--underLine:after {
                        background-color: #cee3ff;
                    }
                    .swiper-container {
                        max-width: 70%;
                        @include break-min(1919px) {
                            max-width: 50%;
                        }
                    }
                }
                &__right {
                    background-color: #ffefe3;
                    @include media-breakpoint-down(sm) {
                        .block__content.slider-changeContent {
                            margin-top: 20px;
                        }
                    }
                    .block__content__text--underLine:after {
                        background-color: #ffefe3;
                    }
                    .block {
                        &__content {
                            &__text {
                                max-width: 508px;
                                margin: auto;
                                position: relative;
                                &.line-border {
                                    padding: 40px 24px;
                                    @include media-breakpoint-down(sm) {
                                        padding: 16px;
                                        padding-top: 40px;
                                    }
                                    &:before {
                                        content: '';
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        right: 0;
                                        bottom: 0;
                                        border: 1px dashed #ff6363;
                                        border-radius: 12px;
                                        @include media-breakpoint-up(xl) {
                                            top: -2px;
                                            left: -2px;
                                            bottom: -24px;
                                            right: -46px;
                                            background-image: url('../images/textbox.svg');
                                            background-repeat: no-repeat;
                                            border: none;
                                        }
                                    }
                                    &:after {
                                        content: '';
                                        position: absolute;
                                        top: 12px;
                                        left: 18px;
                                        width: 25px;
                                        height: 25px;
                                        background: transparent url(../images/ic-quote.png) no-repeat center/25px auto;
                                    }
                                }
                                .name {
                                    font-weight: bold;
                                    font-size: 22px;
                                    color: #333333;
                                    span {
                                        font-family: $font-r;
                                        font-size: 15px;
                                        color: #999999;
                                    }
                                }
                                .avaGroup {
                                    @include media-breakpoint-up(md) {
                                        height: 109px;
                                    }
                                    .imgPanel {
                                        // margin-right: 15px;
                                        // margin-left: 15px;
                                        // max-width: 100px;
                                        .img-bg {
                                            border-radius: 100%;
                                            border: 5px solid #cee3ff;
                                            transition: 0.4s ease;
                                            &.choosing {
                                                width: 99px;
                                                border: 5px solid #fff;
                                                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
                                            }
                                            img {
                                                display: none !important;
                                            }
                                        }
                                    }
                                }
                            }
                            &.slider-changeContent {
                                .thumbSlider{
                                    .slick-slide{
                                        outline:0 !important;
                                        ::-webkit-scrollbar {
                                            -webkit-appearance: none;
                                            width: 7px;
                                            height: 7px;
                                            -webkit-overflow-scrolling: auto;
                                        }
                                        ::-webkit-scrollbar-thumb {
                                            border-radius: 4px;
                                            background-color: rgba(0,0,0,.5);
                                            -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
                                        }
                                        p{
                                            max-height: 184px;
                                            overflow: auto;
                                        }
                                    }
                                }
                                .sliderChange {
                                    .avaName{
                                        @include media-breakpoint-down(md){
                                            margin-top: 10px;
                                            margin-bottom: 12px;
                                        }
                                    }
                                    .avaGroup {
                                        .slider {
                                            .slick-track{
                                                display: flex;
                                                align-items: center;
                                            }
                                            .imgPanel{
                                                outline:0 !important;
                                                margin-left: 10px;
                                                .img-bg{
                                                    transition: 0.2s ease;
                                                }
                                                &.slick-current{
                                                    .img-bg{
                                                        width: 100px;
                                                        box-shadow: 0 3px 10px rgba(0,0,0,0.4);
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .img-bg {
                    &.phoneImg {
                        max-width: 269px;
                        margin: auto;
                    }
                }
                .block__content {
                    padding: 40px 30px;
                    @include media-breakpoint-down(sm) {
                        padding: 0 15px 20px;
                    }
                    &__text {
                        &--medium {
                            margin-bottom: 55px;
                        }
                        &--underLine {
                            &:before {
                                border: 1px solid #1646a8;
                            }
                            &:after,
                            &:before {
                                @include media-breakpoint-down(md) {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
        &--contact {
            background-image: url('/images/bg-contact.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            padding: 28px 0 30px;
            .block {
                &__content {
                    &__text {
                        font-family: $font-r;
                        color: #fff;
                        .text {
                            font-size: 24px;
                            @include media-breakpoint-down(md) {
                                font-size: 16px;
                            }
                            @include media-breakpoint-down(sm) {
                                font-size: 10px;
                            }
                        }
                        .line {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            span {
                                font-size: 24px;
                                color: #80b6ff;
                                @include media-breakpoint-down(md) {
                                    font-size: 16px;
                                }
                                @include media-breakpoint-down(sm) {
                                    font-size: 14px;
                                }
                                &.num {
                                    color: #fff;
                                    font-size: 40px;
                                    @include media-breakpoint-down(md) {
                                        font-size: 20px;
                                    }
                                    @include media-breakpoint-down(sm) {
                                        font-size: 16px;
                                    }
                                }
                            }
                        }
                    }
                    .col-lg-5 {
                        .inner-flex {
                            position: relative;
                            @include media-breakpoint-up(lg) {
                                &:before {
                                    content: '';
                                    position: absolute;
                                    top: 0;
                                    bottom: 0;
                                    right: -3px;
                                    width: 2px;
                                    background: #3879e4;
                                }
                            }
                        }
                    }
                    .inner-flex {
                        display: flex;
                        align-items: center;
                        i.icon {
                            margin-right: 13px;
                        }
                        .btn-custom {
                            font-family: $font-r;
                            margin-left: 70px;
                            border-radius: 12px;
                            padding: 20px 30px;
                            font-size: 20px;
                            @include media-breakpoint-down(sm) {
                                margin-left: 12px;
                                font-size: 12px;
                                padding: 10px 20px;
                            }
                        }
                    }
                }
            }
        }
        &--ask {
            .collapsePanel {
                margin-top: 50px;
            }
        }
        &--news {
            .sgridContent {
                margin-top: 50px;
            }
        }
    }
}
.bg-section {
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -3;
    top: 8%;
    left: 0;
    right: 0;
    .img-bg {
        &:after {
            padding-top: 1676/1920 * 100%;
        }
    }
}
