.s__products {
    .block {
        &.top {
            .row {
                position: relative;
                border: 1px solid #f0f1f0;
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 50%;
                    bottom: 0;
                    width: 1px;
                    background: #f0f1f0;
                }
            }
        }
        &__content {
            padding: 24px;
            &__text {
                position: relative;
                &--title {
                    font-weight: bold;
                    color: #0a4aa3;
                    font-family: 'Arial';
                    margin-bottom: 0;
                }
                &--smaller {
                    color: #0a4aa3;
                    font-family: 'Arial';
                    font-style: italic;
                }
                .estimate-star {
                    // margin-bottom: 10px;
                    // @include media-breakpoint-up(xl) {
                    //     position: absolute;
                    //     top: calc(50% - 14px);
                    //     right: 30px;
                    //     margin-bottom: 0;
                    // }
                }
            }
            .list-info {
                position: relative;
                padding-top: 8px;
                padding-bottom: 8px;
                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    left: 0;
                    background-color: #dbdbdb;
                    height: 1px;
                }
                &:before {
                    top: 0;
                }
                &:after {
                    bottom: 10px;
                }
                ul {
                    padding-left: 20px;
                    li {
                        span {
                            font-size: 12px;
                            opacity: 0.8;
                        }
                    }
                }
            }
            .list-style-none {
                ul {
                    padding-left: 0;
                    list-style: none;
                    margin: 15px 0;
                    @include media-breakpoint-down(sm) {
                        margin: 14px 0;
                    }
                    li {
                        position: relative;
                        // padding-left: 20px;
                        // &:before {
                        //     content: '';
                        //     position: absolute;
                        //     width: 8px;
                        //     height: 8px;
                        //     border-radius: 100%;
                        //     background-color: #0a4aa3;
                        //     left: 0;
                        //     top: calc(50% - 4px);
                        // }
                        &:not(:last-child) {
                            margin-bottom: 7px;
                        }
                        .label {
                            font-size: 14px;
                            font-weight: bold;
                            color: #3f3f3f;
                            &.price {
                                display: flex;
                                align-items: center;
                                span {
                                    margin-left: 10px;
                                    &.old {
                                        font-size: 16px;
                                        color: #b7b7b7;
                                        display: inline-block;
                                        @include media-breakpoint-down(md) {
                                            font-size: 13px;
                                        }
                                    }
                                    &.promo {
                                        font-size: 24px;
                                        color: #c30000;
                                        @include media-breakpoint-down(md) {
                                            font-size: 18px;
                                        }
                                    }
                                }
                            }
                            &.num {
                                display: flex;
                                align-items: center;
                                input {
                                    margin-left: 15px;
                                    max-width: 103px;
                                    height: 40px;
                                }
                            }
                            &.promotion {
                                display: flex;
                                align-items: center;
                                .selectPromo {
                                    margin-left: 15px;
                                    min-width: 280px;
                                    @include media-breakpoint-down(sm) {
                                        min-width: 170px;
                                    }
                                }
                            }
                            span {
                                font-weight: normal;
                            }
                        }
                    }
                }
            }
        }
        .productCard {
            justify-content: unset;
            margin: 40px 0;
            @include media-breakpoint-down(sm) {
                margin: 25px 0;
            }
            .imgPanel {
                @include media-breakpoint-up(xl) {
                    flex: 0 0 50%;
                    max-width: 50%;
                }
                .img-bg {
                    width: 100% !important;
                    &:after {
                        padding-top: 415.98/603.94 * 100%;
                    }
                }
            }
            .infoPanel {
                @include media-breakpoint-up(xl) {
                    flex: 0 0 50%;
                    max-width: 50%;
                }
                .inner-info {
                    border: 4px solid #e2b355 !important;
                    padding: 18px 30px;
                    .info {
                        .priceInfo {
                            font-size: 25px;
                        }
                        .nameInfo {
                            font-size: 20px;
                        }
                        p {
                            font-size: 11px;
                            &.label {
                                font-size: 15px;
                            }
                        }
                        ul {
                            margin: 15px 0;
                            li {
                                span {
                                    font-size: 11px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .detailPanel {
            margin-top: 60px;
            @include media-breakpoint-down(sm) {
                margin-top: 25px;
            }
            .cardTitle {
                background-color: #eceff6;
                padding: 18px;
                font-size: 16px;
                font-weight: bold;
                display: block;
                position: relative;
                color: #fff;
                text-decoration: none;
                span {
                    z-index: 2;
                    position: relative;
                }
                &:before {
                    content: '';
                    top: 0;
                    left: 0;
                    width: 300px;
                    bottom: 0;
                    background-color: #0c4ca3;
                    z-index: 1;
                    position: absolute;
                }
                &:after {
                    content: '';
                    right: 20px;
                    top: 26px;
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 8px solid #0c4ca3;
                }
            }
            .card {
                &.no-border {
                    border: none;
                }
                .imgPanel {
                    margin: 18px 0 60px;
                    .detailThumb {
                        &:after {
                            padding-top: 889/1060 * 100%;
                        }
                    }
                }
                p {
                    font-size: 20px;
                    &.sub {
                        font-size: 16px;
                    }
                }
            }
        }
        .form-style {
            .label {
                font-size: 14px;
                display: flex;
                align-items: center;
                @include media-breakpoint-down(sm) {
                    margin-bottom: 14px;
                }
                .estimate-star {
                    margin-left: 10px;
                }
            }
        }
    }
    .comment {
        padding: 20px 0;
        &:first-child {
            padding-top: 50px;
        }
        .img-panel {
            position: relative;
            @include media-breakpoint-up(lg) {
                &:before {
                    content: '';
                    position: absolute;
                    right: -30px;
                    top: 10px;
                    bottom: 10px;
                    width: 1px;
                    background-color: #dbdbdb;
                }
            }
            .img-bg {
                max-width: 70px;
                margin: auto;
            }
        }
        .context {
            @include media-breakpoint-up(lg) {
                margin-left: 30px;
            }
            .date {
                color: #ff6363;
                font-size: 14px;
            }
            .name {
                font-size: 16px;
                color: #333333;
                span {
                    font-size: 14px;
                    color: #070707;
                    margin-left: 10px;
                    font-weight: normal !important;
                    @include media-breakpoint-down(sm) {
                        font-size: 12px;
                    }
                }
            }
            p {
                color: #666666;
                font-size: 16px;
            }
        }
    }
}
.productItem {
    .imgPanel {
        padding: 2.5rem 1.5rem;
        position: relative;
        @include media-breakpoint-down(md) {
            padding: 0.75rem;
        }
        .thumbProd {
            &:after {
                padding-top: 100%;
            }
        }
        .tagSale {
            position: absolute;
            letter-spacing: 5px;
            z-index: 1;
            top: 27px;
            left: 0;
            transform: rotate(-90deg);
            font-size: 12px;
            background-color: #5ba000;
            color: #fff;
            width: 82px;
            height: 29px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .tagPromo {
            position: absolute;
            top: 0px;
            right: -15px;
            width: 84px;
            height: 84px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #ff6363;
            border-radius: 100%;
            font-size: 25px;
            font-weight: bold;
            color: #fff;
            @include media-breakpoint-down(md) {
                font-size: 24px;
                width: 70px;
                height: 70px;
            }
            @include media-breakpoint-down(sm) {
                font-size: 14px;
                width: 45px;
                height: 45px;
            }
        }
        .magItem {
            .item {
                padding-left: 5px;
                padding-right: 5px;
                transition: 0.2s ease-in-out;
                &.lazyLoad {
                    opacity: 0;
                    visibility: hidden;
                }
                img {
                    width: 100%;
                }
            }
        }
        .slider {
            @include media-breakpoint-down(md) {
                max-width: 100%;
                margin-right: 0;
                margin-left: 0;
            }
            .slick-slide {
                outline: 0 !important;
            }
            .slick-dots {
                bottom: -80px;
            }
            .slick-track {
                display: flex;
                align-items: center;
            }
        }
    }
    .thumbDetail {
        position: relative;
        max-width: 330px;
        margin: auto;
        padding: 24px;
        margin-top: 60px;
        .prodThumb_item {
            max-width: 74px;
            // padding: 22px 13px 16px;
            border: 1px solid #cccccc;
            margin: 0 10px;
        }
        .slick-slide {
            outline: 0 !important;
        }
        .slick-dots {
            bottom: -80px;
        }
        .nextHandle,
        .prevHandle {
            border: 1px solid #d4d4d4;
            border-radius: 100%;
            background: #fff;
            width: 35px;
            height: 35px;
            cursor: pointer;
            display: inline-block;
            position: absolute;
            top: calc(50% - 16px);
            &:hover {
                border: 1px solid #0c4ca3;
                &:after {
                    border-top: 10px solid #0c4ca3;
                }
            }
            &:after {
                content: '';
                border-radius: 0;
                width: 0;
                height: 0;
                background: transparent;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-top: 10px solid #d9d9d9;
                transition: 0.4s ease;
                position: absolute;
                top: 11px;
            }
        }
        .nextHandle {
            left: -12px;
            &:after {
                left: 6px;
                transform: rotate(90deg);
            }
        }
        .prevHandle {
            right: -12px;
            &:after {
                left: 11px;
                transform: rotate(-90deg);
            }
        }
    }
}
.promotion {
    &_wrapper {
        border: #e11b1e dashed 1px;
        border-radius: 4px;
        padding: 10px 0 0;
        position: relative;
        margin: 20px 0;
        width: 100%;
    }
    &_header {
        // background: #e11b1e;
        background: linear-gradient(to right, #cd1717, #e83535, #ce1a1a, #f71414, #e85353, #dd1c1c, #ba0c0c);
        border-radius: 13px;
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        position: absolute;
        top: -13px;
        left: 10px;
        vertical-align: middle;
        line-height: 26px;
        padding: 0 15px;
        text-transform: uppercase;
    }
    &_info {
        padding: 10px 10px 0;
        h4 {
            font-size: 13px;
            font-weight: 700;
            margin: 0 0 5px;
            line-height: 1.35;
            color: #0a263c;
        }
        .pack-detail {
            margin-bottom: 5px;
            position: relative;
        }
        .el-promotion-pack {
            margin: 0 !important;
            padding: 0 15px;
            list-style: none;
            li {
                list-style-type: disc;
                color: #e11b1e;
                padding-left: 0 !important;
                &:before {
                    display: none;
                }
                a {
                    color: #d70018;
                }
            }
        }
    }
}
