main.wrapper {
    overflow: hidden;
}
.mobile-hide {
    @include media-breakpoint-down(md) {
        display: none !important;
    }
}
.mobile-show {
    @include media-breakpoint-up(lg) {
        display: none !important;
    }
}
.banner-home {
    .imgPanel {
        .img-bg {
            &:after {
                padding-top: 502/1170 * 100%;
            }
        }
    }
}
.list-style-none {
    padding-left: 0;
    list-style: none;
}
