main.wrapper {
    overflow: hidden;
    position: relative;
    @include media-breakpoint-down(md) {
        padding-top: 60px;
    }
}
.mobile-hide {
    @include media-breakpoint-down(md) {
        display: none !important;
    }
}
.mobile-show {
    @include media-breakpoint-up(lg) {
        display: none !important;
    }
}
.banner-home {
    @include media-breakpoint-up(md) {
        margin-top: 30px;
    }
    .imgPanel {
        .img-bg {
            &:after {
                padding-top: 502/1170 * 100%;
            }
        }
    }
    .swiper-container {
        .swiper-button-next,
        .swiper-button-prev {
            height: 70px;
            width: 50px;
            // background: #fff;
            @include media-breakpoint-down(lg) {
                display: none;
            }
            &:after {
                border-radius: 0;
                background: none;
                transform: rotate(0);
                border: none;
                border-bottom: 2px solid #999999;
                border-right: 2px solid #999999;
                width: 30px;
                height: 30px;
                content: '';
            }
        }
        .swiper-button-next {
            &:after {
                transform: rotate(-45deg) translate3d(-10px, -7px, 10px);
            }
            @include break-min(1600px) {
                right: 16%;
            }
            @include break-max(1500px) {
                right: 6%;
            }
        }
        .swiper-button-prev {
            &:after {
                transform: rotate(135deg) translate3d(-6px, -9px, 7px);
            }
            @include break-min(1600px) {
                left: 16% !important;
            }
            @include break-max(1500px) {
                left: 6%;
            }
        }
    }
}
.list-style-none {
    padding-left: 0;
    list-style: none;
}
.readMore {
    color: #0045a2;
    font-size: 14px;
    font-family: $font-r;
    display: inline-block;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: 5px;
        right: -11px;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 6px solid #0045a2;
    }
}
.tagDate {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0045a2;
    font-family: $font-r;
    span {
        color: #fff;
        font-size: 14px;
        &:first-child {
            margin-bottom: 5px;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                bottom: -3px;
                left: 0px;
                right: 0px;
                height: 1px;
                border: 1px dashed #fff;
            }
        }
    }
}

.tagCalendar {
    font-size: 14px;
    font-family: 'Roboto Italic', Arial;
    color: #948e90;
    background: transparent url(../images/ic-calendar.svg) no-repeat 0/14px auto;
    padding-left: 18px;
}

.dm-width {
    width: 335px;
    margin: 0 auto;
    @include media-breakpoint-down(md) {
        margin-left: 14px;
    }
}
.iphone-mockup {
    position: relative;
    z-index: 5;
}
.dm-device {
    position: relative;
    width: 100%;
    padding-bottom: 203.477897%;
    .handleSlide {
        .customNextBtn,
        .customPrevBtn {
            display: inline-block;
            width: 30px;
            height: 30px;
            border-radius: 100%;
            border: 1px solid #cccccc;
            background: #fff;
            transition: 0.4s ease;
            position: absolute;
            top: calc(50% - 15px);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 12px;
        }
        .customNextBtn {
            right: -6px;
            background-image: url('../images/ic-arrow-right-blue.svg');
            &:hover {
                background-color: #0045a2;
                background-image: url('../images/ic-arrow-right-white.svg');
            }
        }
        .customPrevBtn {
            left: -20px;
            background-image: url('../images/ic-arrow-left-blue.svg');
            &:hover {
                background-color: #0045a2;
                background-image: url('../images/ic-arrow-left-white.svg');
            }
        }
    }
}
.device {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -webkit-background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(https://res.cloudinary.com/di5yipnns/image/upload/v1482236588/apple-iphone_aivldo.png);
    background-size: cover;
    background-position: center center;
    .screen {
        overflow: hidden;
        position: absolute;
        top: 16.1%;
        bottom: 19.6%;
        left: 11.1%;
        right: 17.4%;
        .owl-carousel {
            height: 100%;
            div {
                height: 100%;
                width: 243px;
            }
        }
        .slider__item {
            font-size: 100px;
            color: rgba(255, 255, 255, 0.7);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
.desc-img {
    margin-top: 10px;
    font-size: 14px;
    color: #948e90;
    @include media-breakpoint-down(md) {
        margin-top: 5px;
        margin-bottom: 20px;
    }
}
.estimate-star {
    min-height: 20px;
    .rating {
        position: relative;
        display: inline-block;
        overflow: hidden;
        color: #fff;
        vertical-align: middle;
        .full-stars {
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
            color: yellow;
            white-space: nowrap;
        }
        .empty-stars::before,
        .full-stars::before {
            font-size: 14pt;
            content: '\2605\2605\2605\2605\2605';
        }
        .empty-stars::before {
            -webkit-text-stroke: 1px yellow;
        }
        .full-stars::before {
            -webkit-text-stroke: 1px yellow;
        }
    }
}
.paymentMethod {
    display: flex;
    justify-content: space-between;
    padding: 16px 18px;
    .methodItem {
        font-size: 14px;
        color: #948e90;
        padding: 12px 40px;
        position: relative;
        border: 1px solid #d7d7d7;
        display: inline-block;
        cursor: pointer;
        @include media-breakpoint-up(lg) {
            width: 189px;
        }
        &:before {
            content: '';
            position: absolute;
            width: 6px;
            height: 6px;
            position: absolute;
            top: 20px;
            left: 20px;
            border-radius: 100%;
        }
        &.eco,
        &.visa {
            &:before {
                background-color: #0c4ca3;
            }
        }
        &.transfer {
            &:before {
                background-color: #007033;
            }
        }
    }
}
