extends layouts/_layout_default


block setting
    - title = "3Forcom"
    - ishomepage = true 

block content 
    +banner_slider
    section.s__home--introduction.mg-section
        include ./home/_s-introduction
    section.s__home--products.mg-section
        include ./home/_s-products
    section.s__home--why.mg-section(style='background-image:url("images/bg-why.png")')
        include ./home/_s-why
    section.s__home--customers.mg-section
        include ./home/_s-customers
    section.s__home--contact.mg-section
        include ./home/_s-contact
    section.s__home--ask.mg-section
        include ./home/_s-ask
    section.s__home--news.mg-section
        include ./home/_s-news
    