extends layouts/_layout_default

block setting
    - title = "Product detail - MediQueen"
    - isProductDetail = true
    - 
        var data_breadcrumb = [
            {'title': 'SẢN PHẨM CHI TIẾT', 'link':'product-detail.html'},
        ]
block content 
    .breadcrumb-page
        .container
            +breadcrumb(data_breadcrumb, "HOME")
    section.s__products.mg-section
        .container
            .block
                .row
                    .col-lg-6
                        .productItem
                            .imgPanel
                                .tagSale SALE
                                .magnifyImg
                                    .magItem(data-id='0')
                                        +img-bg('/images/products/product.png','','thumbProd')
                                    each val in [1,2,3,4]
                                        .magItem.d-none(data-id=val)
                                            +img-bg(`/images/products/product.png`,'','thumbProd')
                                .tagPromo -20%
                            .thumbDetail
                                .swiper-container
                                    .swiper-wrapper
                                        each val,idx in [1,2,3,2,1]
                                            +product_thumb_item(val,idx,'swiper-slide')
                                .swiper-pagination
                                .swiper-button-prev
                                .swiper-button-next
                    .col-lg-6
                        .block__content 
                            form(action="#").form-style
                                .block__content__text
                                    .block__content__text--title Trà tăng cân MediQueen
                                .block__content__text--smaller Trà thảo dược tăng cân MediQueen được sản xuất bởi cty MediQueen giúp cải thiện hấp thụ, đào thải độc tố, giúp ăn ngon miệng, ngủ ngon giấc và hỗ trợ tăng cân tối đa
                                ul.list-style-none
                                    li: .label Thương hiệu: #[span MEDIQUEEN TEA]
                                    li: .label  Tình trạng: #[span Còn hàng]
                                    li: .label  Yêu cầu mua: #[span ít nhất 1 sản phẩm]
                                    li: .label.price  Giá:
                                        span.old 600.000 đ
                                        span.promo 500.000 đ
                                    li: .label.num  Số lượng: 
                                        input(type="number").form-border
                                    li: .label.price  Ưu đãi:
                                .btn-action-cart
                                    a(href="#").bag-btn
                                    a(href="#").btn-custom.orange.text-uppercase CHI TIẾT
                                    a(href="#").btn-custom.transparent.text-uppercase mua ngay
                                    a(href="#").link-btn