extends layouts/_layout_default

block setting
    - title = "Product detail - MediQueen"
    - isProductDetail = true
    - 
        var data_breadcrumb = [
            {'title': 'SẢN PHẨM CHI TIẾT', 'link':'product-detail.html'},
        ]
block content 
    .breadcrumb-page
        .container
            +breadcrumb(data_breadcrumb, "HOME")
    section.s__products.mg-section
        .container
            .block.top
                .row
                    .col-lg-6
                        .productItem
                            .imgPanel
                                .tagSale SALE
                                .magnifyImg
                                    .magItem(data-id='0')
                                        +img-bg('/images/products/product.png','','thumbProd')
                                    each val in [1,2,3,4]
                                        .magItem.d-none(data-id=val)
                                            +img-bg(`/images/products/product.png`,'','thumbProd')
                                .tagPromo -20%
                            .thumbDetail
                                .swiper-container
                                    .swiper-wrapper
                                        each val,idx in [1,2,3,2,1]
                                            +product_thumb_item(val,idx,'swiper-slide')
                                .swiper-pagination
                                .swiper-button-prev
                                .swiper-button-next
                    .col-lg-6
                        .block__content 
                            form(action="#").form-style
                                .block__content__text
                                    .block__content__text--title Trà tăng cân MediQueen
                                .block__content__text--smaller Trà thảo dược tăng cân MediQueen được sản xuất bởi cty MediQueen giúp cải thiện hấp thụ, đào thải độc tố, giúp ăn ngon miệng, ngủ ngon giấc và hỗ trợ tăng cân tối đa
                                ul.list-style-none
                                    li: .label Thương hiệu: &nbsp #[span MEDIQUEEN TEA]
                                    li: .label  Tình trạng: &nbsp #[span Còn hàng]
                                    li: .label  Yêu cầu mua: &nbsp #[span ít nhất 1 sản phẩm]
                                    li: .label.price  Giá:
                                        span.old 600.000 đ
                                        span.promo 500.000 đ
                                    li: .label.num  Số lượng: 
                                        input(type="number" min="0").form-border
                                    li 
                                        .label.promotion  Ưu đãi:
                                            .selectPromo
                                                -
                                                    var typeList = [
                                                        {name: "GIẢM THÊM 7% NHẬP MÃ BRANDFEVER",color:'#dbdbdb'},
                                                        {name: "GIẢM THÊM 10% NHẬP MÃ BRANDFEVER",color:'#303030'},
                                                        {name: "GIẢM THÊM 20% NHẬP MÃ BRANDFEVER",color:'#666666'}
                                                    ]
                                                +dropSelect("Chọn mã giảm giá",typeList)  
                                .btn-action-cart
                                    a(href="#").bag-btn
                                    a(href="#").btn-custom.orange.text-uppercase.moreDetail CHI TIẾT
                                    a(href="#").btn-custom.transparent.text-uppercase mua ngay
                                    a(href="#").link-btn
            .block
                .detailPanel.top
                    a.cardTitle(role="button" aria-expanded="true" aria-controls="collapseExample")
                        span THÔNG TIN SẢN PHẨM
                    .collapse#collapseExample.show
                        .card.card-body
                            p.font-weight-bold Giới thiệu

                            p.sub Trà thảo dược tăng cân MEDIQUEEN TEA hay còn gọi tắt là trà Mediqueen là một sản phẩm được phát triển từ trà tăng cân Mộc Chi một sản phẩm cực hot trên thị trường do MINQ NATURAL - Việt Nam sản xuất và sau này được đổi tên thành MEDIQUEEN

                            p.sub MEDIQUEEN TEA là kết quả, là tinh hoa của quá trình miệt mài nghiên cứu và tìm hiểu của hơn 10 phó giáo sư và tiến sĩ hàng đầu chuyên khoa tiêu hóa, để tạo ra một sản phẩm này họ đã tốn rất nhiều năm để có thể mang đến cho chúng ta một thực phẩm vừa ngon vừa tốt giúp tăng cân nhanh chóng.

                            p.sub Sản phẩm này đã thông qua nhiều tiêu chuẩn cũng như được nhiều tổ chức y tế, bác sĩ, các chuyên gia dinh dưỡng đánh giá cao về sự an toàn, công dụng trà tăng cân Mediqueen của nó đặc biệt sản phẩm hoàn toàn không có tác dụng phụ giúp người dùng an tâm khi dùng.

                            p.sub MediQueen Tea là một sản phẩm cực hot trên thị trường hiện nay, sản phẩm hiện đang được bày bán tại rất nhiều tỉnh thành trên toàn quốc, bạn có thể mua chúng ngoài các cửa hàng hoặc cũng có thể đặt hàng website của chúng tôi là mediqueen.com.vn
                            .imgPanel
                                +img-bg('/images/products/prod-detail.png','','detailThumb')
                            p.font-weight-bold Thành phần và công dụng :
                            p.font-weight-bold.m-0 1. Tảo Xoắn
                            p.sub Trong mỗi gói trà MediQueen đều có trong mình một lượng tảo xoắn, mà công dụng của tảo xoắn này rất nhiều :Dùng tảo xoắn thường xuyên sẽ giúp chúng ta giảm chậm quá trình lão hóa giúp da đẹp hơn, ngoài ra thì tỏa xoắn còn nhiều tác dụng tốt khác như phòng bệnh thiếu máu, một số bệnh về đường huyết, ngăn ngừa đột quỵ....

                            p.font-weight-bold.m-0 2. Nhân Sâm
                            p.sub Nhân sâm là một loại thuốc đông y, một loại thực phẩm tuyệt vời mà thiên nhiên đã ban tặng cho con người không chỉ giúp tăng cân mà còn giúp người dùng tăng cao sức đề kháng cũng như làm chậm quá trình lão hóa... chính vì vậy trong mỗi gói trà của mình, Mediqueen luôn cho thêm vào nhân sâm.

                            p.font-weight-bold.m-0 3. Hạt Sen
                            p.sub Là một thành phần không thể thiếu trong MediQueen Tea, hạt sen với công dụng chữa mất ngũ, đau đầu, giúp chúng ta có giấc ngủ tốt hơn góp phần tăng cường sức khỏe và giúp chúng ta tăng cân một cách nhanh chóng.

                            p.font-weight-bold.m-0 4. Tinh bột nghệ
                            p.sub Để góp phần giúp người dùng cải thiện làn da, cũng như sức khỏe chúng tôi đã nghiên cứu cho thêm tinh bột nghệ vào thành phần trà MediQueen nó sẽ giúp chúng ta có được một làn da khỏe đẹp cùng với một hệ tiêu hóa khỏe mạnh.

                            p.font-weight-bold.m-0 5. Ngũ cốc
                            p.sub Ngũ cốc là loại thức uống giàu protein, giúp chúng ta luôn luôn có được nguồn năng lượng dồi dào để làm việc, ngoài ra nó còn cung cấp rất nhiều vitamin và khoảng chất giúp cơ thể phát triển một cách toàn diện.

                            p.sub Ngoài những thành phần chính trên thì trong mỗi gói trà còn rất nhiều thành phần khác giúp ích cho việc tăng cân và tăng cường sức khỏe.

                            p.font-weight-bold Hướng dẫn sử dụng: 

                            p.sub Để tăng cân một cách hiệu quả nhất thích bạn nên pha 1 gói trà với 30 đến 50 ml nước và uống sau bữa ăn tối 30 phút. Thời gian đầu nếu chưa đạt cân nặng mong muốn bạn có thể uống 2 gói/ngày 

                            p.sub.m-0 Pha một gói trà với khoảng 30-50ml nước uống sau bữa ăn tối 30 phút. Khi đã đạt cân nặng mong muồn thì nên dùng 2 ngày 1 gói đồng thời cần uống 2l nước/ngày và duy trì chế độ ăn uống, nghỉ ngơi hợp lý. 
                            p.sub.m-0 Đối tượng sử dụng: dùng cho người trên 10 tuổi, người gầy, suy nhược cơ thể, mất ngủ. 
                            p.sub.m-0 Hướng dẫn bảo quản: nơi khô ráo, thoáng mát, tránh ánh nắng trực tiếp. 
                            p.sub.m-0 hống chỉ định: Không sử dụng cho phụ nữ có thai, bênh nhân thận và tiểu đường,… 
                            p.sub.m-0 Quy cách: 1 liệu trình gồm 2 hộp x 15 gói x 2g 
            .block
                - 
                    var product2 = [
                        {text:'Giảm mỡ thừa', icon:'ic-waist'},
                        {text:'Giảm cholesterol ', icon:'ic-water'},
                        {text:'Chống lão hóa', icon:'ic-shield'},
                        {text:'Đào thải độc tố', icon:'ic-virus'},
                        {text:'Đốt cháy calo', icon:'ic-calo'},
                        {text:'Giảm cân an toàn', icon:'ic-weight'},
                    ]
                +products_intro_panel2('Cà phê giảm cân MediQueen','images/products/coffee.png',product2,true,'isCoffee')
            .block
                .detailPanel
                    a.cardTitle(data-toggle="collapse" href="#collapseComment" role="button" aria-expanded="true" aria-controls="collapseComment")
                        span ĐÁNH GIÁ & NHẬN XÉT (5)
                    .collapse#collapseComment.show
                        .card.no-border
                            +comment_content
                            +comment_content
                        .form-style
                            form(action="#").form-validate
                                .label.font-weight-bold Add Review
                                .row
                                    .col-lg-6
                                        .form-line
                                            .has-input
                                                input(type="text" name='name' placeholder='Họ & Tên' data-msg='Họ và tên là bắt buộc' required).form-border
                                    .col-lg-6
                                        .form-line
                                            .has-input
                                                input(type="email" name='email' data-msg='Email là bắt buộc' placeholder='Email Address' required).form-border
                                .label.font-weight-bold Your Rating:    
                                    +estimate('100%')
                                .form-line
                                    .has-input
                                        textarea#comment.form-border(name="comment", rows="7", placeholder='Nội dung' data-msg='Nội dung là bắt buộc' required)
                                .group-btn
                                    button.btn-custom.pink.text-uppercase SUBMIT