.card.text-center.card__finish
    .block__content__text.m-0
        h4 ĐẶT HÀNG THÀNH CÔNG
    .block__content__img
        .imgPanel
            +img-bgLazy('/images/done.png')
    .block__content__text.m-0
        p Mã số đơn hàng của bạn là: #[span.blue HA0234832FHGJH ]
        p Cám ơn bạn đã mua hàng tại #[span.blue MEDIQUEEN]. Nhân viên chúng tôi sẽ gọi điện xác nhận đơn hàng của bạn trước khi giao hàng 
            | trong thời gian sớm nhất.Mong ban nhất máy
        p Mọi thông tin thắc mắc đơn hàng mời bạn gọi đến Hotline 
            | #[span.pink.font-weight-bold 1900.0263] (8h~17h30)