@import 'icons-ElegantIcons';
@import 'icons-FontAwesomeIcon';
i.icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    &.ic-phone {
        width: 21px;
        height: 21px;
        background-image: url('../images/ic-phone.svg');
    }
    &.ic-cart {
        width: 21px;
        height: 21px;
        background-image: url('../images/ic-cart.svg');
    }
    &.ic-home {
        width: 20px;
        height: 19px;
        background-image: url('../images/ic-home.svg');
    }
    &.ic-leaf {
        width: 21px;
        height: 21px;
        background-image: url('../images/ic-leaf.svg');
    }
    &.ic-food {
        width: 21px;
        height: 21px;
        background-image: url('../images/ic-food.svg');
    }
    &.ic-shop {
        width: 19px;
        height: 19px;
        background-image: url('../images/ic-shop.svg');
    }
    &.ic-news {
        width: 18px;
        height: 17px;
        background-image: url('../images/ic-news.svg');
    }
    &.ic-headset {
        width: 21px;
        height: 21px;
        background-image: url('../images/ic-headset.svg');
    }
    &.ic-mail {
        width: 45px;
        height: 34px;
        background-image: url('../images/ic-mail.svg');
    }
    &.ic-marker {
        width: 15px;
        height: 21px;
        background-image: url('../images/ic-marker.svg');
    }
    &.ic-globe {
        width: 18px;
        height: 18px;
        background-image: url('../images/ic-globe.svg');
    }
    &.ic-fphone {
        width: 18px;
        height: 18px;
        background-image: url('../images/ic-fphone.svg');
    }
    &.ic-stomach {
        width: 28px;
        height: 28px;
        background-image: url('../images/ic-stomach.svg');
    }
    &.ic-spoon {
        width: 26px;
        height: 26px;
        background-image: url('../images/ic-spoon.svg');
    }
    &.ic-fitness {
        width: 25px;
        height: 26px;
        background-image: url('../images/ic-fitness.svg');
    }
    &.ic-virus {
        width: 28px;
        height: 28px;
        background-image: url('../images/ic-virus.svg');
    }
    &.ic-sleeping {
        width: 24px;
        height: 24px;
        background-image: url('../images/ic-sleeping.svg');
    }
    &.ic-weight {
        width: 26px;
        height: 26px;
        background-image: url('../images/ic-weight.svg');
    }
    &.ic-waist {
        width: 26px;
        height: 26px;
        background-image: url('../images/ic-waist.svg');
    }
    &.ic-water {
        width: 27px;
        height: 31px;
        background-image: url('../images/ic-water.svg');
    }
    &.ic-shield {
        width: 27px;
        height: 31px;
        background-image: url('../images/ic-shield.svg');
    }
    &.ic-calo {
        width: 21px;
        height: 28px;
        background-image: url('../images/ic-calo.svg');
    }
    &.ic-contact {
        width: 59px;
        height: 69px;
        background-image: url('../images/ic-contact.svg');
    }
    &.ic-store {
        width: 63px;
        height: 63px;
        background-image: url('../images/shop.svg');
    }
    &.ic-why1 {
        width: 79.62px;
        height: 79.64px;
        background-image: url('../images/why1.svg');
        @include media-breakpoint-down(sm) {
            width: 62px;
            height: 62px;
        }
    }
    &.ic-why2 {
        width: 79.62px;
        height: 79.64px;
        background-image: url('../images/why2.svg');
        @include media-breakpoint-down(sm) {
            width: 62px;
            height: 62px;
        }
    }
    &.ic-why3 {
        width: 79.62px;
        height: 79.64px;
        background-image: url('../images/why3.svg');
        @include media-breakpoint-down(sm) {
            width: 62px;
            height: 62px;
        }
    }
    &.ic-why4 {
        width: 79.62px;
        height: 79.64px;
        background-image: url('../images/why4.svg');
        @include media-breakpoint-down(sm) {
            width: 62px;
            height: 62px;
        }
    }
    &.ic-phone-green {
        width: 36px;
        height: 36px;
        background-image: url('../images/ic-phone-green.svg');
    }
    &.ic-messenger {
        width: 22px;
        height: 22px;
        background-image: url('../images/ic-mess.svg');
    }
    &.ic-mail-white {
        width: 22px;
        height: 22px;
        background-image: url('../images/ic-mail-white.svg');
    }
    &.ic-phone-white {
        width: 22px;
        height: 22px;
        background-image: url('../images/phone-copy.svg');
    }
    &.ic-facebook {
        width: 18px;
        height: 18px;
        background-image: url('../images/ic-facebook.svg');
    }
    &.ic-youtube {
        width: 18px;
        height: 18px;
        background-image: url('../images/ic-youtube.svg');
    }
    &.ic-twitter {
        width: 18px;
        height: 18px;
        background-image: url('../images/ic-twitter.svg');
    }
    &.ic-instagram {
        width: 18px;
        height: 18px;
        background-image: url('../images/ic-instagram.svg');
    }
}
