.container
    .block
        .block__content
            .row
                .col-lg-5
                    .inner-flex
                        i.icon.ic-contact
                        .block__content__text   
                            .text MỌI THẮC MẮC VUI LÒNG GỌI
                            .line 
                                span HOTLINE
                                span.num.roboto-bold 1900.0263
                .col-lg-7
                    .inner-flex
                        i.icon.ic-store
                        .block__content__text   
                            .text ĐẠI LÝ CỦA CHÚNG TÔI
                        a(href="#").btn-custom.pink.text-uppercase DANH SÁCH ĐẠI LÝ