.container
    .block
        +title_section_home('giới thiệu')
        .block__content
            .box-border.b-shadow.bg-white
                .inner
                    .logo.text-center
                        img(src='/images/logo2.png', alt="")
                    .content.text-justify
                        p.text--smaller Cty TNHH, SX, TM DV MEDIQUEEN  được thành lập từ năm 2016, là doanh nghiệp chuyên sản xuất các sản phẩm về làm đẹp , bảo vệ sức khỏe ….
                        p.text--smaller Với trang thiết bị hiện đại , cùng với đội ngũ y bác sỹ có bề dày nhiều năm kinh nghiệm trong lĩnh vực dinh dưỡng , bảo vệ sức khỏe con người , làm đẹp . Cùng đội ngũ công nhân viên lành nghề , nhiệt tình , trẻ tuổi và năng động .Công ty  MEDIQUEEN  chúng tôi tự hào mang lại những sản  phẩm chất lượng cao, tiến độ giao hàng đảm bảo , giá thành hợp lý đáp ứng yêu cầu và nhu cầu  khác nhau từng khách hàng. Những sản phẩm của công ty chúng tôi khi được sản xuất đều trải qua quá trình đánh giá cẩn thận, và được pháp luật cũng như nhiều cơ sở chuyên về y tế sức khỏe thẩm định.
                        p.text--smaller Tiêu chí của công ty nằm ngay tại thương hiệu của mình : MediQueen luôn hướng đến những điều tốt nhất mang đến hiệu quả cao nhất cho khách hàng.Thế mạnh làm nên thương hiệu khác biệt của  MEDIQUEEN chính là 
                    .group-btn.center
                        a(href="#").btn-custom.transparent.roboto-bold.text-uppercase CHI TIẾT
            .floatImg-top
                +img-bg('/images/intro1.png')
            .floatImg-bottom
                +img-bg('/images/intro2.png')
            .imgFloat.r1
                +img-bg('/images/decor/r1.png')
            .imgFloat.r2
                +img-bg('/images/decor/r2.png')
            .imgFloat.l1
                +img-bg('/images/decor/l1.png')
            .imgFloat.l2
                +img-bg('/images/decor/l2.png')