.container
    .block
        +title_section_home('VÌ SAO CHỌN MEDIQUEEN')
    .block__content
        .block__content__image
            .floatingPanel
                .floating.left-top  
                    i.icon.ic-why1
                    p.m-0 Text
                .floating.left-bottom  
                    i.icon.ic-why2
                    p.m-0 Text
                .floating.right-top  
                    i.icon.ic-why3
                    p.m-0 Text
                .floating.right-bottom  
                    i.icon.ic-why4
                    p.m-0 Text
    .thumbFloating
        +img-bg('/images/why.png')